#homepage-text {
    position: absolute;
    top: 40vh;
    left: 17vw;
}

#text-1 {
    color: #FFFFFF;
    background: rgba(4, 28, 55, 0.50);
    width: 23rem;
    font-size: 1.3rem;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #ffb629;
}

#text-2 {
    color: #FFF;
    font-family: Rubik;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 700;
    padding-top: 1.5rem;
}

#text-3 {
    color: #FFF;
    font-family: Krub;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.523%;
    padding-top: 1.5rem;
}

#btnexplore {
    background: url(../../images/Background-button.svg);
    color: #23212A;
    font-family: Krub;
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 600;
    border: 0;
    width: 18vh;
    height: 6vh;
}

#explore-btn {
    padding-top: 1.5rem;
}